<h1>{{title}}</h1>
<div class="form-group hidden" id="error-container">
        <div class="text-goes-here">
        </div>
</div>
{{#if error}} 
<div class="error">{{msg}}</div> 
{{/if}}
<h2>Table of Contents</h2>
<ul>
    <li><a href="#Understanding-American-Democracy"><strong>Understanding American Democracy</strong></a></li>
    <li><a href="#The-U.S.-System-of-Government"><strong>The U.S. System of Government</strong></a></li>
    <li><a href="#U.S.-Citizen-Rights-and-Responsibilities"><strong>U.S. Citizen Rights and Responsibilities</strong></a></li>
    <li><a href="#American-History"><strong>American History</strong></a></li>
</ul>
<h2 class="underline"id="Understanding-American-Democracy">Understanding American Democracy</h2>
<ul>
    {{#each democracy}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>
<h2 class="underline"id="The-U.S.-System-of-Government">The U.S. System of Government</h2>
<ul>
    {{#each system}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>

<h2 class="underline" id="U.S.-Citizen-Rights-and-Responsibilities">U.S. Citizen Rights and Responsibilities</h2>
<ul>
    {{#each citizen}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>

<h2 class="underline" id="American-History">American History</h2>
<ul>
    {{#each history}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>
