<h1>{{title}}</h1>
<div class="form-group hidden" id="error-container">
        <div class="text-goes-here">
        </div>
</div>
{{#if error}} 
<div class="error">{{msg}}</div> 
{{/if}}
<h2>Table of Contents</h2>
<ul>
    <li><a href="#understanding-democracy">Understanding American Democracy</a></li>
    <li><a href="#us-system-of-gov">The U.S. System of Government</a></li>
    <li><a href="#rights">U.S. Citizen Rights and Responsibilities</a></li>
    <li><a href="#american-hist">American History</a></li>
</ul>
<h2 id="understanding-democracy">Understanding American Democracy</h2>
<ul>
    {{#each democracy}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>
<h2 id="us-system-of-gov">The U.S. System of Government</h2>
<ul>
    {{#each system}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>

<h2 id="rights">U.S. Citizen Rights and Responsibilities</h2>
<ul>
    {{#each citizen}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>

<h2 id="american-hist">American History</h2>
<ul>
    {{#each history}}
        <li>
            <h3>{{this.[0]}}</h3>
            <p>{{this.[1]}}</p>
        </li>
    {{/each}}
</ul>
