{{!-- Quiz Form --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
    <h1>{{title}}</h1>
    <div class="form-group hidden" id="error-container">
        <div class="text-goes-here">
        </div>
    </div>
    {{#if error}} 
    <div class="error">{{msg}}</div> 
    {{/if}}
    <p><a href="/bank">Want to learn more before taking the quiz? Visit the Knowledge Bank!</a></p>

    <form id="trivia-form" method="POST" action="/trivia"> 
        {{#each questions}}
        <div class="question">
            <p>{{this.[0]}}. {{this.[1]}}</p>
            <input type="radio" id="answer{{@index}}_option1" name="answer{{@index}}" value="{{this.[2]}}">
            <label for="answer{{@index}}_option1">{{this.[2]}}</label><br>
            <input type="radio" id="answer{{@index}}_option2" name="answer{{@index}}" value="{{this.[3]}}">
            <label for="answer{{@index}}_option2">{{this.[3]}}</label><br>
            <input type="radio" id="answer{{@index}}_option3" name="answer{{@index}}" value="{{this.[4]}}">
            <label for="answer{{@index}}_option3">{{this.[4]}}</label><br>
            <input type="radio" id="answer{{@index}}_option4" name="answer{{@index}}" value="{{this.[5]}}">
            <label for="answer{{@index}}_option4">{{this.[5]}}</label><br>
        </div>
        <br>
        {{/each}}
        {{#if questions}} 
            <button type="submit">Submit</button>
        {{/if}}
    </form> 
    </main>
</body>

</html>
